body{
    background-color: #efefef;
}
.man{
    background-color: white;
    margin: 30px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.headPortrait{
    width: 45px;
    height: 45px;
}

.text-span{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.community-menu{
    font-size: 13px;
    color: #999;
}